---
layout: "main.njk"
pageTitle: "FAQ"
description: "Information for performers at sydney.emom. Arrival times, technical setup, recording policies, and what to expect on the night."
---
<h2>Information for performers</h2>

<p>Hi!</p>

<p>
This guide is for performers who have registered to play the next edition of emom.sydney.
Super great to have you on board if you're new, great to have you back if not!
</p>

<p>
Please read the following information carefully, it will help the smooth running of the event if
everyone is on the same page.
</p>

<p>
My name is Stewart and I'll be your guide on this adventure. I'm working in partnership with the
crew at Mothership to make it a fun, inclusive and entertaining night for audience and performers
alike. In that vein here are a few notes on what to expect, and what we need from our performers
in order for everything to run like clockwork.
</p>

<h2>Arrival</h2>

<p>
We're asking everyone to arrive at or before <strong>6pm</strong>, so we have time to get organised before doors
open. Entrance to the building will be where the EMOM sandwich board is. Some months this will be via the
offical front door, some months this will be the drive/laneway to the right of Mothership's official front door.
Our lovely door staff will be there to guide you in. Once everyone is present and accounted
for, we'll have a quick huddle to decide on the running order.
</p>

<h2>Schedule</h2>

<p><strong>Doors open:</strong> 6:30pm<br>
<strong>First act starts:</strong> 7:00pm</p>

<p>
We usually have a table with room for four performers, two on each side. The first four acts of the night setup
together, then each performs in order. Then there's a 15-20 minute break and everything changes over for the second
set of performers.
</p>

<h2>Technical Setup</h2>

<p>
There will be a powerboard or two shared by all performers as well as DI boxes. We ask that you bring everything you
need to provide a <strong>stereo line‑level mix</strong> for the PA. The DIs have <strong>1/4" (6.5mm) TS jack
inputs</strong>, and so we ask you to please just give our stage‑hand a pair of jack cables with your mix to
plug in.
</p>

<p>
If you have vocals, we have an SM58 microphone available. If you're able to mix your own vocals
through your own submixer, that will be preferable if you have a particular sound in mind or have a personal mic you
would prefer to use.
</p>

<p>
Bear in mind that <em>we don't have time to do a full soundcheck</em> — it'll just be a quick level/line check.
That said, it's very important to keep an eye on your mix levels and avoid overdriving our inputs!
</p>

<h2>Recording & Live Streaming</h2>

<p>
We will be set up to record the night and live stream it as well. If you don't want to be
recorded that's ok — just let us know beforehand. I send out links for you to access all the
recordings of your set as soon as possible in the days following.
</p>

<h2>Final Notes</h2>

<p>
If you have any other questions or concerns, shoot me an email — otherwise we'll see you at
<strong>6pm on the dot on Thursday</strong>!  
(<em>Mothership Studios @ 22 Sydney St Marrickville</em>)
</p>

<p>
<strong>PS:</strong> If for some reason you're going to be unable to make it on the night, please text me at any
time. I'd rather know we have a space to fill in advance than discover there's a space we could
have filled if only we'd known!
</p>
